.melon {
  background-color: #e97065;
}

.star {
  background-color: #fbd25e;
}

.persim {
  background-color: #e86033;
}

.title1 {
  font-family: "Rammetto One", sans-serif;
}

.title2 {
  font-family: "Gravitas One", serif;
}

.title3 {
  font-family: Comfortaa, sans-serif;
}

.cont {
  font-family: "Open Sans", sans-serif;
}
